<button class="btn btn-block" routerLink="/chat">CREATE NEW CHAT</button>
<hr>
<p>Existing chats:</p>
<div class="list-group" *ngIf="chats$ | async as chats">
  <div class="list-group-item" routerLink="/chat" *ngFor="let chat of chats">
    <b>{{chat.title}}:</b>  {{chat.lastMessage}} <span class="badge">{{chat.messageCount}}</span>
  </div>
</div>
<hr>
<button class="btn btn-block" routerLink="/profile">PROFILE</button>
<button class="btn btn-block" (click)="logout()">EXIT</button>

<div #modal>
  <hr>
  <form
    [formGroup]="form"
    (ngSubmit)="createChat()"
  >
    <div class="form-group has-feedback">
      <label
        for="title"
        class="control-label"
      >Title</label>
      <input id="title"
             formControlName="title"
             type="text"
             class="form-control">
    </div>
    <div class="form-group has-feedback">
      <label
        for="message"
        class="control-label"
      >Message</label>
      <input id="message"
             formControlName="message"
             type="text"
             class="form-control">
    </div>

    <button [disabled]="form.invalid || form.disabled" class="btn btn-block" type="submit">submit</button>
    <button class="btn btn-block">cancel</button>
  </form>

</div>
