<div class="form-group has-success has-feedback">
  <label class="control-label" for="username">Username</label>
  <input type="text" class="form-control" id="username" aria-describedby="usernameStatus">
</div>
<div class="form-group has-warning has-feedback">
  <label class="control-label" for="password">Password</label>
  <input type="password" class="form-control" id="password" aria-describedby="passwordStatus">
  <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
  <span id="passwordStatus" class="help-block">Weak password</span>
</div>
<div class="form-group has-error has-feedback">
  <label class="control-label" for="phone">Admission secret code</label>
  <input type="tel" class="form-control" id="phone" aria-describedby="phoneStatus">
  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  <span id="phoneStatus" class="help-block">Registration only allowed upon confirming the secret code</span>
</div>
<button class="btn btn-block">DONE</button>
