<p>This is a chat prototype, please log in or register</p>
<button class="btn btn-block" routerLink="login" id="authLoginButton">LOGIN</button>
<button class="btn btn-block" routerLink="registration" id="authRegistrationButton">REGISTER</button>
<hr>
<router-outlet></router-outlet>
<div id="loginSuccessMsg" *ngIf="registered" style="color: darkgreen">You have successfully registered! You can login now</div>
<div id="accessDeniedMsg" *ngIf="accessDenied">You can't access this page, please login first</div>
<div id="sessionExpiredMsg" *ngIf="sessionExpired">Session expired, please login again</div>
