<div class="messages">
  <div class="panel panel-default">
    <div class="panel-heading">
      authorname: 00-00-00:00
    </div>
    <div class="panel-body">
      This is a message!
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      authorname: 00-00-00:00
    </div>
    <div class="panel-body">
      This is a message!
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      authorname: 00-00-00:00
    </div>
    <div class="panel-body">
      This is a message!
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      authorname: 00-00-00:00
    </div>
    <div class="panel-body">
      This is a message!
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      authorname: 00-00-00:00
    </div>
    <div class="panel-body">
      This is a message!
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      authorname: 00-00-00:00
    </div>
    <div class="panel-body">
      This is a message!
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      authorname: 00-00-00:00
    </div>
    <div class="panel-body">
      This is a message!
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      authorname: 00-00-00:00
    </div>
    <div class="panel-body">
      This is a message!
    </div>
  </div>
</div>
<hr>
<p>Write new message here</p>
