<div class="messages">
  <div *ngIf="joined$ | async as msgs">
    <div class="panel panel-default" *ngFor="let msg of msgs">
      <div class="panel-heading">
        {{msg.username.username}}: {{msg.date}}
      </div>
      <div class="panel-body">
        {{msg.message}}
      </div>
    </div>
  </div>
</div>


<div class="input">
  <form
    [formGroup]="form"
    (ngSubmit)="sendMsg()">
    <div class="input-group">

      <span class="input-group-addon sender">
          <span class="glyphicon glyphicon-ok"></span>
      </span>


      <input id="title"
             formControlName="message"
             type="text"
             class="form-control">

    </div>
  </form>
</div>
